.backdrop {
    position        : fixed;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    background-color: reba(0, 0, 0, 0.5);
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.modal {
    background-color: white;
    padding         : 40px;
    border-radius   : 8px;
    max-width       : 320;
    margin          : auto;

    width: 100%;
    color: black;
}